/* GRID SYSTEM */
@mixin row () {
    font-size: 0;
    width: 100%
 }

@mixin col ($col, $sum) {
	display: inline-block;
	vertical-align: middle;
	width: percentage($col/$sum);
	height: 100%;
	padding: 40px 20px 20px 20px; 
    font-size: 16px;
    
	@media only screen and (max-width: 1000px) {
		width: 100%;
	}    
}